@page "/create-account"

@using BRDObjects;
@using BRDrycleaningDataAccess;

<header>
    <link href="~/css/laundryLoad.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <script>
        $('#exampleModalCenter').on('shown.bs.modal', function () {

        })
    </script>
</header>

<style>
    .vertical-center-wrapper {
        position: relative;
        margin: auto auto;
        width: 30%;
    }

    .login-title {
        text-align: center;
        margin-bottom: 0.75em;
    }

    .comfortable-margin {
        margin: 15px;
    }

    .align-text-center {
        text-align: center;
    }
</style>

<h2 class="login-title">Sign Up</h2>
@if (TempData["AlertMsg"] != null)
{
    <div class="alert alert-danger comfortable-margin align-text-center" role="alert">
        @TempData["AlertMsg"]!.ToString()
    </div>
}

<div class="vertical-center-wrapper">
    <div id="login-form" class="form-group">

        @using (Html.BeginForm("CreateAccountAction", "Home", FormMethod.Post, new { role = "form" }))
        {
            <label for="First Name">First Name</label>
            <input type="text" class="form-control form-control-spacing" name="firstName" required />

            <label for="Last Name">Last Name</label>
            <input type="text" class="form-control form-control-spacing" name="lastName" required />
            <label for="Phone Number">Phone Number</label>
            <input type="tel" class="form-control form-control-spacing" name="phoneNumber" />
            <br />
            <label for="Email Address">Email Address</label>
            <input type="email" class="form-control form-control-spacing" name="email" required />

            <label for="Confirm Email Address">Confirm Email Address</label>
            <input type="email" class="form-control form-control-spacing" name="confirmEmail" required />
            <br />
            <label for="Password">Password</label>
            <input type="password" class="form-control form-control-spacing" name="password" required />

            <label for="Confirm Password">Confirm Password</label>
            <input type="password" class="form-control form-control-spacing" name="confirmPassword" required />
            <br />
            <input type="submit" value="Create Account" class="form-control" />
        }

    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    @{
                        TempData["SplashMessage"] = "Creating your account, please wait!";
                    }
                    <partial>
                        @Html.Partial("_EmptySplash")
                    </partial>
                </div>
            </div>
        </div>
    </div>
</div>